@import url('style/header.css');
@import url('style/banner.css');
@import url('style/carrossel.css');
@import url('style/tópicos.css');
@import url('style/contato.css');
@import url('style/rodapé.css');
*{
    margin:0;
    padding: 0;
}
:root{

    --cor-de-fundo: #EBECEE;
    --cor-branca: #FFF;
    --cor-laranja:#EB9B00;
    --cor-roxo-azulado: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --font-poppins: 'Poppins';
    --cor-de-fundo-banner: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-roxo: #002F52;
    --segunda-font: 'Josefin Sans', serif;
    --cor-preta: black;
    --cor-letras-titulo-rodapé: #858585;
    --cor-letras-itens-rodapé: #474646;
    
}
body{

    background-color: var(--cor-de-fundo);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}
